.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.contain input{
    border: 1px solid white;
    border-radius:10px;
    padding: 5%;
    font-size: 4vw;
    background-color: #ffffff00;
    height: 5vh;
    
    width: 80%;
}
.senior{
    display: flex;
    justify-content: center;
    width: 100%;
}
.senior button{
    font-size: 4vw;
    padding: 4%;
    margin: 2%;
    box-shadow: 0px 0px 0px 0px rgba(0, 240, 255, 0.40);

}
.finish{
    font-size:2em;
}